#table-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 50px;

    height: auto;
    width: 100%;
    max-width: 1400px;

    margin-top: auto;
    padding: 0.8rem;
}

@media (max-width: 600px) {
    #table-footer {
        flex-direction: column;
    }
}